<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes posts</h2>
      <ul class="list-group">
  <app-post  *ngFor="let postitem of listPosts"
                       [postTitle]="postitem.postTitle"
                       [postContent]="postitem.postContent"
                       [postLoveIts]="postitem.postLoveIts"
                       [postCreatedAt]="postitem.postCreatedAt"></app-post>
      </ul>
    </div>
  </div>
</div>