<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 5,
                'list-group-item-danger': postLoveIts < 5}">
<h3> Post : {{ postTitle }} </h3>
<h4> Créé le : {{ postCreatedAt | date}} </h4>
<p> {{ postContent }}</p>
<button class="btn btn-success" 
		(click)="onJaime()">J'aime !</button>
<button class="btn btn-danger" 
		(click)="onJaimePas()">J'aime pas !</button>
</li>

